* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #555;
}

.box {
  background-color: #ffffff;
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  width: 480px;
  text-align: center;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.box h2 {
  margin-bottom: 5px;
  font-size: 24px;
  color: #333;
}

.box div {
  margin-bottom: 20px;
  text-align: left;
}


.box input[type="password"] {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 15px;
  transition: all 0.3s ease;
}

.box input[type="password"]:focus {
  border-color: #6a5acd;
  box-shadow: 0 0 5px rgba(106, 90, 205, 0.4);
  outline: none;
}

.box button {
  width: 100%;
  padding: 12px 0;
    background-color: #6a5acd;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.box button:hover {
    background-color: blueviolet;
}
