* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  font-size: 14px;
}
ul
{
    list-style: none;
}

/* Header */
.header{
    width: auto;
    height: 38px;
    background-color: black;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.header a 
{
    color: white;
}
/* Navigation menu */

.Navigation-menu-logo a
{
    all: unset;
    cursor: pointer;
}
.Navigation-menu
{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 40px;
}
.Navigation-menu-contents ul li
{
    margin-right: 24px;
    display: inline-block;
}
.Navigation-menu-contents ul li i 
{
    font-size: 12px;
}
.Navigation-menu-cart-user ul li
{
    display: inline-block;
    margin-right: 14px;
    font-size: 20px;
}
.Navigation-menu-search
{
 padding: 14px 16px;
 color: rgba(0, 0, 0, 0.4);
}
.Navigation-menu-search input
{
    position: relative;
    background-color:#F0F0F0 ;
    padding-left: 40px;
    width: 577px;
    height: 38px;
    border: none;
    border-radius: 62px;
}
.Navigation-menu-search i
{   
    font-size: 17px;
    position: absolute;
    left: 640px;
    top: 62px;    
}

/* banner */
.banner
{
    width: auto;
    height: 661px;
    display: flex;
    background-color: rgba(242, 240, 241, 1);
    position: relative;
}

.banner-title h1
{
    font-size: 80px;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: -2px;
    line-height: 0.9;  
}
.banner-content p
{
    padding: 20px 0;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}
.banner-button
{
        padding-top: 10px;
         padding-bottom: 30px;
}
.banner-button input
{
    padding: 16px 54px;
    border-radius: 62px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
}
.banner-footer ul
{
    display: flex;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 16px;
}

.banner-footer ul > li
{
    display: flex;
}

.banner-footer ul > li ul
{
    display: block;
}
.banner-footer ul li ul li 
{
            padding-right: 20px;
}
.banner-footer ul li ul li:first-child{
    font-size: 40px;
    font-weight: bold;
}

.banner-footer ul li ul li:last-child{
    color: rgba(0, 0, 0, 0.6);
}

.banner-footer ul li:first-child li
{
    border-right: solid rgba(0, 0, 0, 0.1);

}
.banner-footer ul li:last-child li
{
    border-left: solid rgba(0, 0, 0, 0.1);
    padding-left: 20px;
}
.banner-footer > ul > li:nth-child(2) > ul { 
    padding-left: 20px;
}


.banner-content-left
{
    width: 50%;
    height: auto;
    padding-top: 40px;
    padding-left: 100px;
}
.banner-content-right
{
    width: 50%;
    background-image: url("../image/image-banner.jpg");
    background-position: -20px -70px;
    background-size: 90%;
    background-repeat: no-repeat;
}



/* container */
.container
{
    margin-top: 50px;
    height: 480px;
}
.container-contents
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
}
.container-contents ul 
{
    height: 198px;
}
.container-contents img
{
    height: 265px;
    width: 295px;
    border-radius: 20px;
}
.container-title h1
{
    text-transform: uppercase;
    font-size:48px;
    font-weight:900;
    text-align: center;
}
.container .container-contents-title p
{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
}
.container-contents-rate
{
    display: flex;

}
.container-contents-rate p 
{
    padding-left: 10px;
    font-size: 14px;
}
.container-contents-rate i
{
    color: #FFC633;
    font-size: 18px;
}
.container-contents-price ul 
{
    display: flex;
    gap: 20px;
    height: 32px;
}
.container-contents-price ul li:nth-child(1) 
{
    font-size: 24px;
    font-weight: bold;
}
.container-contents-price ul li:nth-child(2) 
{
    font-size: 24px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.4);
}
.container-contents-price ul li:nth-child(3) 
{
    background-color: rgba(228, 131, 131, 0.1);
    border-radius: 62px;
    height: 28px;
    width: 58px;
    align-content: center;
    text-align: center;
    color: rgba(255, 51, 51, 1);
    font-weight: bold;
}

.viewall
{
    text-align: center;
    height: 100px;
}
.viewall button{
        padding: 16px 74px;
        font-weight: bold;
        border-radius: 62px;
        background-color: white;
        border: solid rgba(0, 0, 0, 0.1);
}

hr{
    border: none;       
    background: rgba(0, 0, 0, 0.1);
    height: 1px;
    margin: 20px auto;
    width: 1350px;
}

/* contaner-1 */
.container-1-title h1
{
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    font-size: 48px;
    padding: 70px 0 40px 0;
}

.container-1{
    background-color: rgba(240, 240, 240, 1);
    border-radius: 40px;
    width: 1239px;
    height: 856px;
    justify-self: center;
}
.container-1-contents{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-self: center;
    padding: 0 60px 0 60px;
}
.container-1-contents > div
{
    padding: 10px;
    margin: 10px;
    border: #F0F0F0;
    height: 290px;
    border-radius: 20px;
}
.item
{
    font-size: 36px;
    text-transform: capitalize;
    font-weight: 700;
    padding-left: 30px;
    padding-top: 20px;
}


.container-1-contents-item1
{
    
    background-image: url("../image/container-1-image1.png");
    background-position: 550px -140px;
}
.container-1-contents-item2{
    grid-column: 2/4;
    background-image: url("../image/container-1-image2.png");
    background-position: -20px -160px;
    background-size: 200%;
    
}

.container-1-contents-item3{
    grid-column: 1/3;
    background-image: url("../image/container-1-image3.png");
    background-position: 30px -170px;
}
.container-1-contents-item4
{
    background-image: url("../image/container-1-image4.png");
     background-position: 40px -150px;
     background-size: 130%;
}

.footer
{
    margin-top: 180px;
    background-color: rgba(240, 240, 240, 1);
    font-size: 16px;
    letter-spacing: 1px;
    position: relative;
}

.footer-contents 
{
    display: flex;
    justify-content: space-around;
    padding: 130px 0;
}

.footer-contents-item1
{
    width: 345px;
}
.footer-contents h2
{
    text-transform: uppercase;
}
.footer-contents-item1 h1
{
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 20px;
}
.footer-contents-item1 li:last-child
{
    padding-top: 15px;
}

.footer-contents-item1-icon li 
{
    display: inline-flex;
    text-align: center;
    align-content: center;
    font-size: 28px;
}
.footer-contents-item2,
.footer-contents-item3,
.footer-contents-item4,
.footer-contents-item5
{
    line-height: 40px;
}

.container-3
{
    position: absolute;
    background-color: black;
    display: flex;
    width: 1240px;
    height: 180px;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    top: -90px;
    right: 0;
    left: 0;
    margin: auto;
}
.container-3 h1 
{
    color: #F0F0F0;
    font-size: 40px;
    font-weight: 900;   
    line-height: 45px;
}

.container-3-button
{
    padding-left: 130px;
    padding-bottom: 30px;
}

.container-3-button li input
{   
    width: 349px;
    height: 48px;
    border-radius: 62px;
}
#container-3-email input
{
    position: relative;
    padding-left: 50px;
    margin-bottom: 10px;
}

.ri-mail-line
{
    z-index: 1;
    font-size: 24px;
    position: relative;
    top: 38px;
    right: -15px;
    color: rgba(0, 0, 0, 0.4);
}